div#maincontianer
{
	width: 100%;
	background-color: #593C1F;
}


div#header 
{
	position: relative;
}

div#header div
{
	display: inline-block;
	position: relative;
}

div#header img 
{
	height: 50px;
	width: 40%;
	margin-left: 17%;
}

div#navigation
{
	height: 40px;
	width: 100%;
	
	background: rgba(138,64,0,1);
	background: -moz-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,64,0,1)), color-stop(0%, rgba(76,44,16,1)), color-stop(99%, rgba(68,39,14,1)), color-stop(100%, rgba(119,60,9,1)));
	background: -webkit-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -o-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -ms-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: linear-gradient(to right, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a4000', endColorstr='#773c09', GradientType=1 );
	overflow: hidden;
}

div#navigation div
{
	display: inline;
	overflow: hidden;
}

div#navigation div ul
{
	
	overflow: hidden;
	display: inline;
}

div#navigation div ul li
{
	
	display: inline;
	list-style-type: none;
	position: relative;

}

div#navigation div ul li a
{
	display: inline-block;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
	font-size: 17px;
	font-family: 	'Roboto', sans-serif;
	color:#FFFFFF;
}

div#navigation div ul li a:hover
{
	color: orange;
}

div#aboutcontent
{
	height: 600px;
	/*background-color: purple; */
	position:relative;
	width: 100%;
	display: inline-block;
}

div#aboutcontent div.aboutusheading
{
	display: inline-block;
	margin-top: 1%;
	position: relative;
	height: 40px;
	background: rgba(138,64,0,1);
	background: -moz-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,64,0,1)), color-stop(0%, rgba(76,44,16,1)), color-stop(99%, rgba(68,39,14,1)), color-stop(100%, rgba(119,60,9,1)));
	background: -webkit-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -o-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -ms-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: linear-gradient(to right, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a4000', endColorstr='#773c09', GradientType=1 );
	width: 100%;

}

div#aboutcontent div.aboutusheading div
{
	display: inline-block;
	margin-top: 0.5%;
	position: relative;
	width: 50%;
}


div#aboutcontent div.aboutusheading p
{
	display: inline;
	font-size: 17px;
	overflow: hidden;
	margin-left: 10%;
	font-family: 'Roboto', sans-serif;
	color:#FFFFFF;
}

div#aboutcontent div.content
{
	height: 550px;
	/* background-color: orange; */
	margin-top: 1%;
	display: inline-block;
	width: 100%;

	background: rgba(171,107,23,1);
	background: -moz-linear-gradient(left, rgba(171,107,23,1) 0%, rgba(99,71,34,0.68) 50%, rgba(84,60,29,0.67) 51%, rgba(151,100,33,0.35) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(171,107,23,1)), color-stop(50%, rgba(99,71,34,0.68)), color-stop(51%, rgba(84,60,29,0.67)), color-stop(100%, rgba(151,100,33,0.35)));
	background: -webkit-linear-gradient(left, rgba(171,107,23,1) 0%, rgba(99,71,34,0.68) 50%, rgba(84,60,29,0.67) 51%, rgba(151,100,33,0.35) 100%);
	background: -o-linear-gradient(left, rgba(171,107,23,1) 0%, rgba(99,71,34,0.68) 50%, rgba(84,60,29,0.67) 51%, rgba(151,100,33,0.35) 100%);
	background: -ms-linear-gradient(left, rgba(171,107,23,1) 0%, rgba(99,71,34,0.68) 50%, rgba(84,60,29,0.67) 51%, rgba(151,100,33,0.35) 100%);
	background: linear-gradient(to right, rgba(171,107,23,1) 0%, rgba(99,71,34,0.68) 50%, rgba(84,60,29,0.67) 51%, rgba(151,100,33,0.35) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab6b17', endColorstr='#976421', GradientType=1 );

	opacity: 0.5%;
}

div.content div#aboutimage
{
	display: inline;
	height: 550px;
	width: 100%;
	position:relative;
	overflow: hidden;
}

div.content div#aboutimage img
{
	height: 550px;
	width: 45%;
	position: relative;
	border-radius: 10%;
	overflow: hidden;
	display: inline;
}


div.content div#aboutcontenttext
{
	float: right;
	width: 53%;
	display: inline-block;
	height: 550px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #E1DCDE;
}


div.content div#aboutcontenttext p:first-child{
	display: inline;
}

div.content div#aboutcontenttext p a 
{
	color: #E1DCDE;
	font-style: italic;
	text-decoration: none;
}


div#footer
{
	height: 30px;
	
	background: rgba(138,64,0,1);
	background: -moz-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,64,0,1)), color-stop(0%, rgba(76,44,16,1)), color-stop(99%, rgba(68,39,14,1)), color-stop(100%, rgba(119,60,9,1)));
	background: -webkit-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -o-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: -ms-linear-gradient(left, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	background: linear-gradient(to right, rgba(138,64,0,1) 0%, rgba(76,44,16,1) 0%, rgba(68,39,14,1) 99%, rgba(119,60,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a4000', endColorstr='#773c09', GradientType=1 );
	overflow: hidden;
	display: inline-block;
	width: 100%;
	margin-top: 1%;
}

div#footer div
{
	display: inline-block;
	margin-left: 34%;
	position: relative;
	margin-top: 0.5%;
}


div#footer div p 
{
	display: inline;
	color: #FFFFFF;
	font-family: 'Miltonian Tattoo', cursive;
}

