/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color:#333;
	background:#eee;
}

a, a:visited {
	color:#593C1F;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

div#wrapper 
{
	margin-top: -6%;
	background: rgba(50,36,17,1);
	background: -moz-linear-gradient(left, rgba(50,36,17,1) 0%, rgba(50,36,17,1) 1%, rgba(91,58,11,1) 25%, rgba(46,33,15,1) 75%, rgba(80,54,16,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(50,36,17,1)), color-stop(1%, rgba(50,36,17,1)), color-stop(25%, rgba(91,58,11,1)), color-stop(75%, rgba(46,33,15,1)), color-stop(100%, rgba(80,54,16,1)));
	background: -webkit-linear-gradient(left, rgba(50,36,17,1) 0%, rgba(50,36,17,1) 1%, rgba(91,58,11,1) 25%, rgba(46,33,15,1) 75%, rgba(80,54,16,1) 100%);
	background: -o-linear-gradient(left, rgba(50,36,17,1) 0%, rgba(50,36,17,1) 1%, rgba(91,58,11,1) 25%, rgba(46,33,15,1) 75%, rgba(80,54,16,1) 100%);
	background: -ms-linear-gradient(left, rgba(50,36,17,1) 0%, rgba(50,36,17,1) 1%, rgba(91,58,11,1) 25%, rgba(46,33,15,1) 75%, rgba(80,54,16,1) 100%);
	background: linear-gradient(to right, rgba(50,36,17,1) 0%, rgba(50,36,17,1) 1%, rgba(91,58,11,1) 25%, rgba(46,33,15,1) 75%, rgba(80,54,16,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322411', endColorstr='#503610', GradientType=1 );

}

.slider-wrapper { 
	width: 80%; 			
	height: 300px;
	display: inline-block;
	margin-left: 10%;
	position: relative;
	margin-top: 1%;
}																																																																																																																																																																																																																											

.slider-wrapper img { 
	width: 400px; 
	height: 300px;
	
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.2s;
}


/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}